body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.topnav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.8em 1em;
    text-decoration: none;
    font-size: 17px;
}

.normie:hover {
    color: black;
    background-color: #ddd;
}

.topnav a.active {
    color: white;
    font-family: "Italiana", serif;
    font-size: 2em;
    width: fit-content;
    padding: 0em 0.3em;
    padding-right: 1em;
    padding-top: 0.11em;
}

.topnav .icon {
    display: none;
}

#home {
    background: rgb(38,109,181);
    background: linear-gradient(0deg, rgba(38,109,181,1) 0%, rgba(55,150,131,1) 100%);
}

#home p {
    background: linear-gradient(
            to right, #6DCCB9, #91B824);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.main {
    display: flex;
    align-items: center;
}

#tag {
    flex: 1;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 9vw;
    width: 20%;
    padding-left: 1em;
}

#img {
    padding: 5em;
    width: 40%;
}

.shop {
    margin-top: -2em;
    background-blend-mode: screen;
}

#airem {
    display: flex;
    background: rgb(55,150,131);
    background: linear-gradient(0deg, rgba(55,150,131,1) 0%, rgba(38,109,181,1) 100%);
    padding: 0em 3em 5em 3em;
    justify-content: center;
}

.tit {
    font-size: 200%;
    text-align: center;
    font-family: Italiana;
}

#waterem {
    display: flex;
    background: rgb(55,150,131);
    background: linear-gradient(0deg, rgba(142,228,175,1) 0%, rgba(55,150,131,1) 100%);
    padding: 0em 3em 5em 3em;
    justify-content: center;
}

.card {
    display: block;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 6px 20px rgb(0 0 0 / 0.2);
    width: 80%;
    padding: 1em 1em;
}

.specs {
    display: grid;
    grid-template-areas: 'icon1 icon2'
                         't1 t2'
                         'icon3 icon4'
                         't3 t4'
                         'btn btn';
    width: 40%;
    float: right;
    margin-top: 10%;
    text-align: center;
    justify-content: center;
}

.txt {
    width: 70%;
    padding-bottom: 20%;
    padding-top: 5%;
}

#contact {
    display: grid;
    grid-template-areas:
        'header header header'
        'text1 text2 text3';
    background-color: black;
    color: white;
    padding: 5% 10%;
}

#contact p {
    text-align: center;
    padding-right: 30%;
}

#contact p a {
    color: white;

}

.text {
    font-family: "Century Gothic", serif;
    text-align: center;
    grid-area: header;
}

#about {
    background: linear-gradient(180deg, rgba(142,228,175,1) 0%, rgba(38,109,181,1) 100%);
    text-align: center;
}

.titcard {
    display: grid;
    width: 80%;
    border-radius: 1em;
    background-color: rgba(200, 200, 200, 0.1);
    box-shadow: 0px 6px 20px rgb(0 0 0 / 0.2);
    padding: 1em 1em;

}

#team {
    display: flex;
    justify-content: center;
    padding: 0em 3em 5em 3em;
}

#abt {
    display: flex;
    justify-content: center;
    padding: 0em 3em 5em 3em;
}

#a {
    grid-template-areas:
        'header header header'
        'image image image'
        't1 t2 t3';
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        padding-left: 1em;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.material-symbols-outlined {
    padding-right: 13%;
    scale: 250%;
}

.preorder {
    margin-top: -1vw;
    margin-bottom: 2vw;
    min-width: max-content;
    max-width: 85%;
}

.button-67 {
    align-items: center;
    background: #f5f5fa;
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
    font-size: 1rem;
    justify-content: center;
    line-height: 0.3vw;
    padding: 3.5vw;
    transition: .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-67:hover {
    background: #f8f8ff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

@media screen and (min-width: 1200px) {
    .button-67 {
        padding: 1vw;
    }
}

#popup {
    display: none;
    position: fixed;
    left: 10vw;
    bottom: 7vh;
    border-radius: 1vw;
    background-color: rgba(200, 200, 200, 0.9);
    width: 80vw;
    height: 80vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#form {
    width: inherit;
    display: grid;
    grid-template-areas: "side1 side2";
}

.side {
    position: absolute;
    width: 40%;
}

#side1 {
    left: 0;
    text-align: center;
}

#side2 {
    right: 0;
    margin-right: 3.3vw;
}


#ret {
    margin-top: 1.2vw;
    padding: 0.5vw 1vw;
    width: 80%;
}

select#ret {
    outline: none;
    border: none;
}

#ret::selection {
    border: none;
}

#images {
    justify-content: center;
    margin-top: 2vw;
    margin-left: 2vw;
}

lord-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 6vw;
    height: 6vw
}

@media screen and (min-width: 1200px) {
    lord-icon {
        width: 6vh;
        height: 6vh;
    }
}

#view {
    transition-duration: 3s;
}

@media screen and (max-width: 1000px) {
    #view {
        margin-left: -5vw;
    }
}

#image2 {
    margin-top: 4vw;
    display: none;
    width: 40vw;
}

@media screen and (max-width: 1000px) {
    #image2 {
        width: 30vw;
    }
}

@media screen and (max-width: 600px) {
    #image2 {
        width: 20vw;
    }
}

#final button {
    width: 100%;
}
